body {
 line-height: 1.5;
 color: #d1d9e1;
 padding: 60px 80px;
 font-family: 'Helvetica Neue',Helvetica,Verdana;
}

table {
border-collapse: separate;
border-spacing: 0;
}

caption, th, td {
font-weight: normal;
float:none !important;
}
table, th, td {
vertical-align: middle;
}

h1 {
 margin-bottom: 0px;
  margin-bottom: 10px;
 color: #333;
}

h2 {
 font-weight: normal;
 color: #444;
}

h2 span {
  color: #666;
}

#not-found {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 900px;
}

.internal-error {
  margin-left: -100px;
  margin-right: -100px;
  margin-top: -80px;
  padding: 20px;
  width: 100%;
  position: absolute;
  color: white;
  background: #CC3300;
  font-size 30px;
  border: solid;
  border-color: #444;
}

.jh-root {
  width: 550px;
}

#exception {
 width: 945px;
}

#exception ul {
 margin: 0;
 padding: 0;
 margin-top: 20px;
 list-style: none;
}

#exception table {
 width: 100%;
 margin-top: 20px;
 border-collapse: collapse;
}

#exception tr {
 border-radius: 8px;
 padding: 10px;
 background: #f5f5f5;
 border: 2px solid #ccc;
 margin-bottom: 10px;
 width: 100%;
}

#exception td {
 padding: 10px;
}

#exception .dt {
  color: #bbb;
 text-align: right;
}

#exception .dd {
 color: #91979d;
 margin: 0;
 padding-left: 5%;
}

#exception .mine {
 border-radius: 8px;
 padding: 10px;
 background: #FF9933;
 border: 2px solid #993300;
}

#exception tr.mine .dt {
  color: black;
}

#exception tr.mine .dd {
  color: black;
  font-weight: bold;
}
